<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  <script type="module" crossorigin src="/Arcane-Front-build/assets/login-DUfWZbrb.js"></script>
  <link rel="modulepreload" crossorigin href="/Arcane-Front-build/assets/main-J0b_Y7a1.js">
  <link rel="modulepreload" crossorigin href="/Arcane-Front-build/assets/just-validate.es-C73wyOde.js">
  <link rel="stylesheet" crossorigin href="/Arcane-Front-build/assets/main-DJxJE6BR.css">
  <link rel="stylesheet" crossorigin href="/Arcane-Front-build/assets/login-B0-146Kz.css">
  <link rel="stylesheet" crossorigin href="/Arcane-Front-build/assets/auth-BPGF3tld.css">
</head>

<body>
    <!-- Background Decorative illustration (left) -->
    <div class="dv-auth__bg-decor dv-auth__bg-decor--left" aria-hidden="true"></div>
    <!-- Background Decorative illustration (right) -->
    <div class="dv-auth__bg-decor dv-auth__bg-decor--right"></div>

    <!-- Background Primary Light -> top right -->
    <!-- <div class="dv-auth__bg-light dv-auth__bg-light--right"></div> -->
    <div class="dv-auth__bg-light dv-auth__bg-light--right"></div>

    <!-- Background Secondary Light -> bottom left -->
    <div class="dv-auth__bg-light dv-auth__bg-light--left"></div>

    <main class="dv-main container">
        <!-- ****[Login Page]**** Start -->
        <div class="dv-auth">
            <!-- Auth Card -->
            <div class="dv-auth__card">

                <!-- Header -->
                <div class="dv-auth__header">
                    <h1 class="dv-auth__title">ورود / ثبت نام</h1>
                    <p class="dv-auth__subtitle">فروشگاه آرکین</p>
                </div>

                <!-- Form -->
                <form class="dv-auth__form" action="" method="">

                    <!-- Honeypot field to fuck mf bots -->
                    <div style="position:absolute; left:-9999px;">
                        <input type="text" name="hp-field" tabindex="-1" autocomplete="off">
                    </div>

                    <!-- Input group -->
                    <div class="dv-input dv-auth__field w-100">
                        <label class="dv-input__label dv-auth__label" for="phone_number">
                            شماره همراه
                            <span class="dv-input__star">*</span>
                        </label>
                        <div class="dv-input__field dv-auth__input-wrapper">

                            <input type="tel" id="phone_number" class="dv-auth__input" placeholder="09xxxxxxxxx"
                                name="phone_number" inputmode="numeric" pattern="[0-9]*" minlength="11" maxlength="11"
                                autocomplete="tel" autofocus>

                            <span class="dv-input__icon material-icons-outlined">
                                phone
                            </span>
                        </div>
                        <!-- <div class="dv-input__error">
                            این فیلد الزامیست.
                        </div> -->
                    </div>

                    <!-- Submit -->
                    <button class="dv-auth__submit dv-btn dv-btn--lg dv-btn--primary dv-btn--fill w-100">
                        <div class="dv-btn__text">ورود / ثبت نام</div>
                    </button>

                    <!-- Divider -->
                    <div class="dv-auth__divider">
                        <hr>
                        <span class="dv-auth__divider-text">یا</span>
                        <hr>
                    </div>

                    <!-- Social login -->
                    <a href="#" disabled class="dv-auth__social-btn dv-auth__social-btn--google">
                        <svg class="icon icon--lg icon-filled" viewBox="0 0 24 24">
                            <use href="/Arcane-Front-build/icons/sprites.svg#material-icon-theme:google"></use>
                        </svg>
                        ورود با گوگل
                    </a>

                </form>
            </div>
        </div>
        <!-- ****[Login Page]**** End -->

    </main>

    <!-- ! Core Scripts -->

    <!-- ! Page Scripts -->
</body>

</html>