<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>اطلاعات کاربری</title>
  <script type="module" crossorigin src="/Arcane-Front-build/assets/user-profile-Ddqo9y4o.js"></script>
  <link rel="modulepreload" crossorigin href="/Arcane-Front-build/assets/main-D2V5YL7I.js">
  <link rel="modulepreload" crossorigin href="/Arcane-Front-build/assets/just-validate.es-C73wyOde.js">
  <link rel="stylesheet" crossorigin href="/Arcane-Front-build/assets/main-DcL-z6zl.css">
  <link rel="stylesheet" crossorigin href="/Arcane-Front-build/assets/user-profile-fD5m34bf.css">
  <link rel="stylesheet" crossorigin href="/Arcane-Front-build/assets/dashboard-DtsZgJML.css">
</head>

<body x-data>
    <!--  Navbar Start -->
    <nav class="dv-nav container" x-data>
        <div class="dv-nav__center">
            <a class="dv-nav__link dv-padding-sm d-flex d-lg-none" href="#" data-bs-toggle="offcanvas"
                data-bs-target="#sidemenu" aria-controls="sidemenu">
                <span class="dv-nav__icon material-icons-outlined">
                    menu
                </span>
            </a>
            <div class="dv-nav__center-right">
                <img class="dv-nav__logo" src="/Arcane-Front-build/imgs/logos/arcane-logo.png" alt="Arcane Logo">
                <h2 class="d-none d-lg-block">آرکـِیـن</h2>
            </div>
            <div class="dv-nav__center-left">
                <a href="user-chat.html" class="d-lg-flex d-none dv-btn dv-btn--sm dv-btn--secondary dv-btn--subtle"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="پشتیبانی">
                    <div class="dv-badge dv-badge--number" x-show="$store.ui.notifCount" x-text="$store.ui.notifCount">
                    </div>
                    <span class="dv-btn__icon icon icon--xl material-icons-outlined">
                        question_answer
                    </span>
                </a>
                <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="اعلان‌ها">
                    <button class="dv-btn dv-btn--sm dv-btn--secondary dv-btn--subtle"
                        :data-bs-target="$store.ui.isMobile ? '#notifs-offcanvas' : '#notifs-modal'"
                        :data-bs-toggle="$store.ui.isMobile ? 'offcanvas' : 'modal'">
                        <div class="dv-badge dv-badge--number" x-show="$store.ui.notifCount"
                            x-text="$store.ui.notifCount">
                        </div>
                        <span class="dv-btn__icon icon icon--xl material-icons-outlined">
                            notifications
                        </span>
                    </button>
                </span>
                <a class="dv-btn dv-btn--md dv-btn--secondary dv-btn--fill d-none d-lg-flex" href="../../index.html">
                    <div class="dv-btn__text">ورود به سایت</div>
                </a>
            </div>
        </div>
    </nav>
    <!--  Navbar End -->

    <!-- * Mobile Navbar Start -->
    <nav class="dv-nav-mobile container d-flex d-lg-none" x-data>
        <ul class="dv-nav-mobile__links">
            <li>
                <a class="dv-nav-mobile__link" href="user-wallet.html">
                    <span class="dv-nav-mobile__icon material-icons-outlined">
                        account_balance_wallet
                    </span>
                    کیف پول
                </a>
            </li>
            <li>
                <a class="dv-nav-mobile__link" href="buy-cart.html">
                    <span class="dv-nav-mobile__icon material-icons-outlined">
                        shopping_cart
                    </span>
                    سبد خرید
                    <div class="dv-badge dv-badge--number" x-show="$store.ui.cartCount" x-text="$store.ui.cartCount">
                    </div>
                </a>
            </li>
            <li>
                <a class="dv-nav-mobile__link" href="user-games.html">
                    <span class="dv-nav-mobile__icon material-icons-outlined">
                        sports_esports
                    </span>
                    بازی‌ها
                </a>
            </li>
            <li>
                <a class="dv-nav-mobile__link" href="user-chat.html">
                    <span class="dv-nav-mobile__icon material-icons-outlined">
                        question_answer
                    </span>
                    تیکت
                </a>
            </li>
        </ul>
    </nav>
    <!-- * Mobile Navbar End -->

    <!-- * Sidemenu Start -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="sidemenu" aria-labelledby="sidemenu-title">
        <div class="offcanvas-header">
            <a href="/" class="offcanvas-header__logo">
                <img src="/Arcane-Front-build/imgs/logos/arcane-logo.png" alt="Arcane Logo" />
                <img src="/Arcane-Front-build/imgs/logos/arcane-logo_text.png" alt="فروشگاه گیمینگ آرکین" />
            </a>
            <button type="button" class="dv-btn dv-btn--sm button-close" data-bs-dismiss="offcanvas" aria-label="Close">
                <span class="dv-btn__icon material-icons-outlined">
                    arrow_forward_ios
                </span>
            </button>
        </div>
        <hr class="m-0">
        <div class="offcanvas-body">
            <!-- Logged in Mode -->
            <a class="dv-sidemenu__link" href="user-games.html">
                <div class="dv-sidemenu__text">بازی‌های من</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
            <a class="dv-sidemenu__link" href="user-favs.html">
                <div class="dv-sidemenu__text">علاقمندی‌ها</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
            <a class="dv-sidemenu__link" href="buy-cart.html">
                <div class="dv-sidemenu__text">سبد خرید</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
            <a class="dv-sidemenu__link" href="sell-cart.html">
                <div class="dv-sidemenu__text">سبد فروش</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
            <a class="dv-sidemenu__link" href="user-sell-list.html">
                <div class="dv-sidemenu__text">لیست فروش</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
            <a class="dv-sidemenu__link" href="user-wallet.html">
                <div class="dv-sidemenu__text">کیف پول</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
            <a class="dv-sidemenu__link" href="user-notifs.html">
                <div class="dv-sidemenu__text">اعلان‌ها</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
            <a class="dv-sidemenu__link" href="user-profile.html">
                <div class="dv-sidemenu__text">اطلاعات کاربری</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
            <a class="dv-sidemenu__link" href="#">
                <div class="dv-sidemenu__text">پشتیبانی</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
            <hr>
            <!-- Logged in Mode -->
            <a class="dv-sidemenu__link" href="games.html">
                <div class="dv-sidemenu__text">بازی‌ها</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
            <a class="dv-sidemenu__link" href="faq.html">
                <div class="dv-sidemenu__text">سوالات متداول</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
            <a class="dv-sidemenu__link" href="about-us.html">
                <div class="dv-sidemenu__text">درباره ما</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
        </div>
        <div class="offcanvas-footer">
            <!-- ? Logged in Mode -->
            <a class="dv-btn dv-btn--lg dv-btn--error dv-btn--outline" href="#">
                <span class="dv-btn__icon material-icons-outlined dv-flip-hr">
                    logout
                </span>
                <div class="dv-btn__text">خروج از حساب</div>
            </a>
            <!-- ? Logged in Mode -->

            <!-- ? Guest Mode -->
            <!-- <a class="dv-btn dv-btn--lg dv-btn--primary dv-btn--fill" href="#">
        <span class="dv-btn__icon material-icons-outlined">
          person
        </span>
        <div class="dv-btn__text">ورود | ثبت نام</div>
      </a> -->
            <!-- ? Guest Mode -->
        </div>
    </div>
    <!--  Sidemenu End -->

    <!--  Notifs Modal Start -->
    <div x-data class="modal dv-modal fade" id="notifs-modal" tabindex="-1" role="dialog"
        aria-labelledby="notifs-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
            <div class="modal-content dv-modal-content">
                <div class="modal-header dv-modal-header">
                    <span class="material-icons-outlined">
                        notifications
                    </span>
                    <h5 class="modal-title" id="notifs-modal-title">
                        اعلان‌ها (<span x-text="$store.ui.notifCount"></span>)
                    </h5>
                    <button type="button" class="dv-btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span class="material-icons-outlined">
                            close
                        </span>
                    </button>
                </div>
                <div class="modal-body dv-notifs">
                    <div class="dv-notifs__notif">
                        <label class="dv-label dv-label--subtle dv-label--success dv-label--sm">
                            <span class="dv-label__icon icon icon--md material-icons-outlined">
                                shopping_cart
                            </span>
                            خرید
                        </label>
                        <div class="dv-notifs__notif-body">سلام کاربر گرامی، از خرید شما در آرکین سپاس‌گزاریم.</div>
                        <label class="dv-label dv-label--subtle dv-label--disable dv-label--sm me-auto">
                            1401/10/05 - 22:10
                        </label>
                    </div>
                    <div class="dv-notifs__notif">
                        <label class="dv-label dv-label--subtle dv-label--primary dv-label--sm">
                            <span class="dv-label__icon icon icon--md material-icons-outlined">
                                info
                            </span>
                            اطلاع‌رسانی
                        </label>
                        <div class="dv-notifs__notif-body">سلام کاربر گرامی، از خرید شما در آرکین سپاس‌گزاریم.</div>
                        <label class="dv-label dv-label--subtle dv-label--disable dv-label--sm me-auto">
                            1401/10/05 - 22:10
                        </label>
                    </div>
                    <div class="dv-notifs__notif">
                        <label class="dv-label dv-label--subtle dv-label--warning dv-label--sm">
                            <span class="dv-label__icon icon icon--md material-icons-outlined">
                                warning_amber
                            </span>
                            هشدار
                        </label>
                        <div class="dv-notifs__notif-body">سلام کاربر گرامی، از خرید شما در آرکین سپاس‌گزاریم.</div>
                        <label class="dv-label dv-label--subtle dv-label--disable dv-label--sm me-auto">
                            1401/10/05 - 22:10
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="user-notifs.html" 
                        class="w-100 dv-btn dv-btn--sm dv-btn--primary dv-btn--fill">
                        <div class="dv-btn__text">همه اعلان‌ها</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--  Notifs Modal Start -->

    <!--  Notifs Start -->
    <div x-data class="offcanvas offcanvas-bottom" tabindex="-1" id="notifs-offcanvas" aria-labelledby="notifs-title">
        <div class="offcanvas-header">
            <span class="material-icons-outlined">
                notifications
            </span>
            <h5>اعلان‌ها
                (<span x-text="$store.ui.notifCount"></span>)
            </h5>
            <a href="user-notifs.html" class="me-auto dv-btn dv-btn--sm dv-btn--fill dv-btn--primary">
                <div class="dv-btn__text ">
                    همه اعلان‌ها
                </div>
            </a>
            <button type="button" class="dv-btn dv-btn--sm button-close" data-bs-dismiss="offcanvas" aria-label="Close">
                <span class="dv-btn__icon material-icons-outlined">
                    keyboard_arrow_down
                </span>
            </button>
        </div>
        <hr class="m-0">
        <div class="offcanvas-body dv-notifs">
            <div class="dv-notifs__notif">
                <label class="dv-label dv-label--subtle dv-label--success dv-label--sm">
                    <span class="dv-label__icon icon icon--md material-icons-outlined">
                        shopping_cart
                    </span>
                    خرید
                </label>
                <div class="dv-notifs__notif-body">سلام کاربر گرامی، از خرید شما در آرکین سپاس‌گزاریم.</div>
                <label class="dv-label dv-label--subtle dv-label--disable dv-label--sm me-auto">
                    1401/10/05 - 22:10
                </label>
            </div>
            <div class="dv-notifs__notif">
                <label class="dv-label dv-label--subtle dv-label--success dv-label--sm">
                    <span class="dv-label__icon icon icon--md material-icons-outlined">
                        shopping_cart
                    </span>
                    خرید
                </label>
                <div class="dv-notifs__notif-body">سلام کاربر گرامی، از خرید شما در آرکین سپاس‌گزاریم.</div>
                <label class="dv-label dv-label--subtle dv-label--disable dv-label--sm me-auto">
                    1401/10/05 - 22:10
                </label>
            </div>
            <div class="dv-notifs__notif">
                <label class="dv-label dv-label--subtle dv-label--success dv-label--sm">
                    <span class="dv-label__icon icon icon--md material-icons-outlined">
                        shopping_cart
                    </span>
                    خرید
                </label>
                <div class="dv-notifs__notif-body">سلام کاربر گرامی، از خرید شما در آرکین سپاس‌گزاریم.</div>
                <label class="dv-label dv-label--subtle dv-label--disable dv-label--sm me-auto">
                    1401/10/05 - 22:10
                </label>
            </div>
            <div class="dv-notifs__notif">
                <label class="dv-label dv-label--subtle dv-label--success dv-label--sm">
                    <span class="dv-label__icon icon icon--md material-icons-outlined">
                        shopping_cart
                    </span>
                    خرید
                </label>
                <div class="dv-notifs__notif-body">سلام کاربر گرامی، از خرید شما در آرکین سپاس‌گزاریم.</div>
                <label class="dv-label dv-label--subtle dv-label--disable dv-label--sm me-auto">
                    1401/10/05 - 22:10
                </label>
            </div>
            <div class="dv-notifs__notif">
                <label class="dv-label dv-label--subtle dv-label--primary dv-label--sm">
                    <span class="dv-label__icon icon icon--md material-icons-outlined">
                        info
                    </span>
                    اطلاع‌رسانی
                </label>
                <div class="dv-notifs__notif-body">سلام کاربر گرامی، از خرید شما در آرکین سپاس‌گزاریم.</div>
                <label class="dv-label dv-label--subtle dv-label--disable dv-label--sm me-auto">
                    1401/10/05 - 22:10
                </label>
            </div>
            <div class="dv-notifs__notif">
                <label class="dv-label dv-label--subtle dv-label--warning dv-label--sm">
                    <span class="dv-label__icon icon icon--md material-icons-outlined">
                        warning_amber
                    </span>
                    هشدار
                </label>
                <div class="dv-notifs__notif-body">سلام کاربر گرامی، از خرید شما در آرکین سپاس‌گزاریم.</div>
                <label class="dv-label dv-label--subtle dv-label--disable dv-label--sm me-auto">
                    1401/10/05 - 22:10
                </label>
            </div>
        </div>
    </div>
    <!-- * Notifs End -->

    <main class="dv-main container">
        <!-- * [User Info section] Start -->
        <section class="dv-section dv-section--aside-content">
            <aside x-data class="dv-section__aside col-4 col-xl-3 d-none d-lg-flex">
                <ul class="dv-section__aside-links">
                    <li>
                        <a href="user-games.html" class="dv-section__aside-link">
                            بازی‌های من
                            <span class="dv-section__aside-link-icon material-icons-outlined">
                                sports_esports
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="user-favs.html" class="dv-section__aside-link ">
                            علاقمندی
                            <span class="dv-section__aside-link-icon material-icons-outlined">
                                favorite_border
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="buy-cart.html" class="dv-section__aside-link">
                            سبد خرید
                            <span class="dv-section__aside-link-icon material-icons-outlined">
                                shopping_cart
                            </span>
                            <div class="dv-badge dv-badge--number" x-show="$store.ui.cartCount"
                                x-text="$store.ui.cartCount"></div>
                        </a>
                    </li>
                    <li>
                        <a href="sell-cart.html" class="dv-section__aside-link">
                            سبد فروش
                            <span class="dv-section__aside-link-icon material-icons-outlined">
                                sell
                            </span>
                            <div class="dv-badge dv-badge--number" x-show="$store.ui.sellCartCount"
                                x-text="$store.ui.sellCartCount"></div>
                        </a>
                    </li>
                    <li>
                        <a href="user-sell-list.html" class="dv-section__aside-link">
                            لیست فروش
                            <span class="dv-section__aside-link-icon material-icons-outlined">
                                format_list_bulleted
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="user-wallet.html" class="dv-section__aside-link">
                            کیف پول
                            <span class="dv-section__aside-link-icon material-icons-outlined">
                                account_balance_wallet
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="user-chat.html" class="dv-section__aside-link">
                            تیکت و پشتیبانی
                            <span class="dv-section__aside-link-icon material-icons-outlined">
                                question_answer
                            </span>
                            <div class="dv-badge dv-badge--number" x-show="$store.ui.ticketCount"
                                x-text="$store.ui.ticketCount"></div>
                        </a>
                    </li>
                    <li>
                        <a href="user-notifs.html" class="dv-section__aside-link">
                            اعلان‌ها
                            <span class="dv-section__aside-link-icon material-icons-outlined">
                                notifications
                            </span>
                            <div class="dv-badge dv-badge--number" x-show="$store.ui.notifCount"
                                x-text="$store.ui.notifCount"></div>
                        </a>
                    </li>
                    <li>
                        <a href="user-profile.html" class="dv-section__aside-link dv-section__aside-link--active">
                            اطلاعات کاربری
                            <span class="dv-section__aside-link-icon material-icons-outlined">
                                person
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="dv-section__aside-link">
                            خروج از حساب
                            <span class="dv-section__aside-link-icon material-icons-outlined dv-flip-hr">
                                logout
                            </span>
                        </a>
                    </li>
                </ul>
            </aside>

            <!-- Content -->
            <div class="dv-section__content col">
                <!-- Header -->
                <div class="dv-section__content-header-row">
                    <h5 class="dv-section__content-header-title">اطلاعات کاربری</h5>
                </div>
                <div class="dv-section__content-body">
                    <div class="dv-section__user-profile">
                        <div class="dv-user-profile__header">
                            <div class="dv-user-profile__user">
                                <img class="dv-user-profile__user-img" src="/Arcane-Front-build/imgs/user1.png" alt="user profile">
                                <div class="dv-user-profile__user-info">
                                    <span class="dv-user-profile__user-name">رامتین مرادی</span>
                                    <span class="dv-user-profile__user-date">تاریخ عضویت:
                                        <strong>1404/01/01</strong></span>
                                </div>
                            </div>
                            <div class="dv-user-profile__profile-btn-wrapper">
                                <button type="button"
                                    class="dv-btn dv-btn--md dv-btn--primary dv-btn--outline"
                                    :data-bs-target="$store.ui.isMobile ? '#profile-img-offcanvas' : '#profile-img-modal'" :data-bs-toggle="$store.ui.isMobile ? 'offcanvas' : 'modal'">
                                    <span class="dv-btn__icon material-icons-outlined">
                                        account_circle
                                    </span>
                                    <div class="dv-btn__text">تصویر پروفایل</div>
                                </button>
                            </div>
                        </div>
                        <form class="dv-user-profile__form">
                            <!-- ! Honey pot input -->
                            <div style="position:fixed; left:-9999px;">
                                <input type="text" name="hp-field" tabindex="-1" autocomplete="off">
                            </div>
                            <!-- ! Honey pot input -->
                            <div class="dv-input">
                                <label class="dv-input__label">
                                    نام
                                    <span class="dv-input__star">*</span>
                                </label>
                                <div class="dv-input__field">
                                    <input type="text" name="first_name" id="first_name" value="رامتین">
                                </div>
                            </div>
                            <div class="dv-input">
                                <label class="dv-input__label">
                                    نام خانوادگی
                                    <span class="dv-input__star">*</span>
                                </label>
                                <div class="dv-input__field">
                                    <input type="text" name="last_name" id="last_name" value="مرادی">
                                </div>
                            </div>
                            <div class="dv-input">
                                <label class="dv-input__label">
                                    <span class="dv-input__label-icon material-icons-outlined">
                                        phone_enabled
                                    </span>
                                    شماره همراه
                                    <span class="dv-input__star">*</span>
                                </label>
                                <div class="dv-input__field">
                                    <input type="tel" maxlength="11" minlength="11" name="phone_number"
                                        id="phone_number" value="09356664489">
                                </div>
                            </div>
                            <div class="dv-input">
                                <label class="dv-input__label">
                                    <span class="dv-input__label-icon material-icons-outlined">
                                        mail_outline
                                    </span>
                                    ایمیل
                                </label>
                                <div class="dv-input__field">
                                    <input type="email" name="email" id="email" value="example@email.com">
                                </div>
                            </div>
                            <div class="dv-user-profile__form-btn-wrapper">
                                <!-- <button class="dv-btn dv-btn--md dv-btn--error dv-btn--fill">
                                    <div class="dv-btn__text">انصراف</div>
                                </button> -->
                                <button type="submit" x-data x-async="ajaxProfile()"
                                    class="dv-btn dv-btn--md dv-btn--primary dv-btn--fill"
                                    id="dv-user-profile__form-submit-btn">
                                    <div class="dv-btn__text">ویرایش</div>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- * [User Info section] End -->
    </main>

    <!-- [profile image modal] Start -->
    <div class="modal dv-modal fade" id="profile-img-modal" tabindex="-1" role="dialog"
        aria-labelledby="profile-img-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
            <div class="modal-content dv-modal-content">
                <div class="modal-header dv-modal-header">
                    <h5 class="modal-title" id="profile-img-modal-title">
                        تصویر پروفایل
                    </h5>
                    <button type="button" class="dv-btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span class="material-icons-outlined">
                            close
                        </span>
                    </button>
                </div>
                <div class="modal-body dv-profile__upload-modal-body">
                    <form class="dv-profile__upload-form modal-form" id="form-profile-image-modal">
                        <div class="dv-profile__upload-container">
                            <div class="dv-profile__upload-area modal-upload-area" id="uploadArea-modal">
                                <span class="material-icons-outlined modal-upload-icon" id="uploadIcon-modal">
                                    image
                                </span>
                                <span class="dv-profile__upload-text modal-upload-text">کلیک کنید</span>
                                <img class="dv-profile__preview-image modal-preview-image" id="previewImage-modal"
                                    alt="Preview">
                            </div>
                            <input type="file" id="fileInput-modal" class="dv-profile__file-input modal-file-input"
                                accept="image/jpeg, image/png" name="profileImage">
                        </div>
                        <button type="submit" class="dv-btn dv-btn--md dv-btn--primary dv-btn--fill modal-submit-btn"
                            id="dv-user-profile__img-submit-btn-modal">
                            <div class="dv-btn__text">تغییر تصویر پروفایل</div>
                        </button>
                    </form>
                </div>
                <div class="modal-footer dv-profile__validation-items">
                    <span class="dv-profile__validation-item">1. فایل باید کمتر از 50MB باشد.</span>
                    <span class="dv-profile__validation-item">2. فرمت های مورد قبول JPEG و PNG است.</span>
                </div>
            </div>
        </div>
    </div>
    <!-- [profile image modal] End -->

    <!-- [profile image offcanvas] Start -->
    <div class="offcanvas dv-offcanvas offcanvas-bottom" tabindex="-1" id="profile-img-offcanvas"
        aria-labelledby="profile-img-offcanvas-title" aria-hidden="true">
        <div class="offcanvas-header">
            <span class="material-icons-outlined">
                account_circle
            </span>
            <h5 id="profile-img-offcanvas-title">
                تصویر پروفایل
            </h5>
            <button type="button" class="dv-btn dv-btn--sm button-close" data-bs-dismiss="offcanvas" aria-label="Close">
                <span class="dv-btn__icon material-icons-outlined">
                    keyboard_arrow_down
                </span>
            </button>
        </div>
        <hr class="m-0">
        <div class="offcanvas-body dv-profile__upload-modal-body">
            <form class="dv-profile__upload-form offcanvas-form" id="form-profile-image-offcanvas">
                <div class="dv-profile__upload-container">
                    <div class="dv-profile__upload-area offcanvas-upload-area" id="uploadArea-offcanvas">
                        <span class="material-icons-outlined offcanvas-upload-icon" id="uploadIcon-offcanvas">
                            image
                        </span>
                        <span class="dv-profile__upload-text offcanvas-upload-text">کلیک کنید</span>
                        <img class="dv-profile__preview-image offcanvas-preview-image" id="previewImage-offcanvas"
                            alt="Preview">
                    </div>
                    <input type="file" id="fileInput-offcanvas" class="dv-profile__file-input offcanvas-file-input"
                        accept="image/jpeg, image/png" name="profileImage">
                </div>
                <button type="submit" class="dv-btn dv-btn--md dv-btn--primary dv-btn--fill offcanvas-submit-btn"
                    id="dv-user-profile__img-submit-btn-offcanvas">
                    <div class="dv-btn__text">تغییر تصویر پروفایل</div>
                </button>
            </form>
        </div>
        <div class="offcanvas-footer dv-profile__validation-items">
            <span class="dv-profile__validation-item">1. فایل باید کمتر از 50MB باشد.</span>
            <span class="dv-profile__validation-item">2. فرمت های مورد قبول JPEG و PNG است.</span>
        </div>
    </div>
    <!-- [profile image offcanvas] end -->

    <!-- ! Core Scripts -->

    <!-- ! Page Scripts -->
</body>

</html>