<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  <script type="module" crossorigin src="/Arcane-Front-build/assets/user-notifs-M_bbvhvr.js"></script>
  <link rel="modulepreload" crossorigin href="/Arcane-Front-build/assets/main-D2V5YL7I.js">
  <link rel="modulepreload" crossorigin href="/Arcane-Front-build/assets/datatable-fa-DSWKXLgg.js">
  <link rel="stylesheet" crossorigin href="/Arcane-Front-build/assets/main-DcL-z6zl.css">
  <link rel="stylesheet" crossorigin href="/Arcane-Front-build/assets/datatable-fa-4z33KFpF.css">
  <link rel="stylesheet" crossorigin href="/Arcane-Front-build/assets/dashboard-DtsZgJML.css">
  <link rel="stylesheet" crossorigin href="/Arcane-Front-build/assets/single-table-content-DNzIBtJ6.css">
</head>

<body>
    <!-- * Navbar Start -->
    <nav class="dv-nav container" x-data>
        <div class="dv-nav__center">
            <a class="dv-nav__link dv-padding-sm d-flex d-lg-none" href="#" data-bs-toggle="offcanvas"
                data-bs-target="#sidemenu" aria-controls="sidemenu">
                <span class="dv-nav__icon material-icons-outlined">
                    menu
                </span>
            </a>
            <div class="dv-nav__center-right">
                <img class="dv-nav__logo" src="/Arcane-Front-build/imgs/logos/arcane-logo.png" alt="Arcane Logo">
                <h2 class="d-none d-lg-block">آرکـِیـن</h2>
            </div>
            <div class="dv-nav__center-left">
                <a href="user-chat.html" class="d-lg-flex d-none dv-btn dv-btn--sm dv-btn--secondary dv-btn--subtle"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="پشتیبانی">
                    <div class="dv-badge dv-badge--number" x-show="$store.ui.notifCount" x-text="$store.ui.notifCount">
                    </div>
                    <span class="dv-btn__icon icon icon--xl material-icons-outlined">
                        question_answer
                    </span>
                </a>
                <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="اعلان‌ها">
                    <button class="dv-btn dv-btn--sm dv-btn--secondary dv-btn--subtle"
                        :data-bs-target="$store.ui.isMobile ? '#notifs-offcanvas' : '#notifs-modal'"
                        :data-bs-toggle="$store.ui.isMobile ? 'offcanvas' : 'modal'">
                        <div class="dv-badge dv-badge--number" x-show="$store.ui.notifCount"
                            x-text="$store.ui.notifCount">
                        </div>
                        <span class="dv-btn__icon icon icon--xl material-icons-outlined">
                            notifications
                        </span>
                    </button>
                </span>
                <a class="dv-btn dv-btn--md dv-btn--secondary dv-btn--fill d-none d-lg-flex" href="../../index.html">
                    <div class="dv-btn__text">ورود به سایت</div>
                </a>
            </div>
        </div>
    </nav>
    <!-- * Navbar End -->

    <!-- * Mobile Navbar Start -->
    <nav class="dv-nav-mobile container d-flex d-lg-none" x-data>
        <ul class="dv-nav-mobile__links">
            <li>
                <a class="dv-nav-mobile__link" href="user-wallet.html">
                    <span class="dv-nav-mobile__icon material-icons-outlined">
                        account_balance_wallet
                    </span>
                    کیف پول
                </a>
            </li>
            <li>
                <a class="dv-nav-mobile__link dv-nav-mobile__link--active" href="buy-cart.html">
                    <span class="dv-nav-mobile__icon material-icons-outlined">
                        shopping_cart
                    </span>
                    سبد خرید
                    <div class="dv-badge dv-badge--number" x-show="$store.ui.cartCount" x-text="$store.ui.cartCount">
                    </div>
                </a>
            </li>
            <li>
                <a class="dv-nav-mobile__link" href="user-games.html">
                    <span class="dv-nav-mobile__icon material-icons-outlined">
                        sports_esports
                    </span>
                    بازی‌ها
                </a>
            </li>
            <li>
                <a class="dv-nav-mobile__link" href="user-chat.html">
                    <span class="dv-nav-mobile__icon material-icons-outlined">
                        question_answer
                    </span>
                    تیکت
                </a>
            </li>
        </ul>
    </nav>
    <!-- * Mobile Navbar End -->

    <!-- * Sidemenu Start -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="sidemenu" aria-labelledby="sidemenu-title">
        <div class="offcanvas-header">
            <a href="/" class="offcanvas-header__logo">
                <img src="/Arcane-Front-build/imgs/logos/arcane-logo.png" alt="Arcane Logo" />
                <img src="/Arcane-Front-build/imgs/logos/arcane-logo_text.png" alt="فروشگاه گیمینگ آرکین" />
            </a>
            <button type="button" class="dv-btn dv-btn--sm button-close" data-bs-dismiss="offcanvas" aria-label="Close">
                <span class="dv-btn__icon material-icons-outlined">
                    arrow_forward_ios
                </span>
            </button>
        </div>
        <hr class="m-0">
        <div class="offcanvas-body">
            <!-- Logged in Mode -->
            <a class="dv-sidemenu__link" href="user-games.html">
                <div class="dv-sidemenu__text">بازی‌های من</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
            <a class="dv-sidemenu__link" href="user-favs.html">
                <div class="dv-sidemenu__text">علاقمندی‌ها</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
            <a class="dv-sidemenu__link" href="buy-cart.html">
                <div class="dv-sidemenu__text">سبد خرید</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
            <a class="dv-sidemenu__link" href="sell-cart.html">
                <div class="dv-sidemenu__text">سبد فروش</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
            <a class="dv-sidemenu__link" href="user-sell-list.html">
                <div class="dv-sidemenu__text">لیست فروش</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
            <a class="dv-sidemenu__link" href="user-wallet.html">
                <div class="dv-sidemenu__text">کیف پول</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
            <a class="dv-sidemenu__link" href="user-notifs.html">
                <div class="dv-sidemenu__text">اعلان‌ها</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
            <a class="dv-sidemenu__link" href="user-profile.html">
                <div class="dv-sidemenu__text">اطلاعات کاربری</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
            <a class="dv-sidemenu__link" href="#">
                <div class="dv-sidemenu__text">پشتیبانی</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
            <hr>
            <!-- Logged in Mode -->
            <a class="dv-sidemenu__link" href="games.html">
                <div class="dv-sidemenu__text">بازی‌ها</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
            <a class="dv-sidemenu__link" href="faq.html">
                <div class="dv-sidemenu__text">سوالات متداول</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
            <a class="dv-sidemenu__link" href="about-us.html">
                <div class="dv-sidemenu__text">درباره ما</div>
                <span class="dv-sidemenu__icon material-icons-outlined">
                    arrow_back_ios
                </span>
            </a>
        </div>
        <div class="offcanvas-footer">
            <!-- ? Logged in Mode -->
            <a class="dv-btn dv-btn--lg dv-btn--error dv-btn--outline" href="#">
                <span class="dv-btn__icon material-icons-outlined dv-flip-hr">
                    logout
                </span>
                <div class="dv-btn__text">خروج از حساب</div>
            </a>
            <!-- ? Logged in Mode -->

            <!-- ? Guest Mode -->
            <!-- <a class="dv-btn dv-btn--lg dv-btn--primary dv-btn--fill" href="#">
        <span class="dv-btn__icon material-icons-outlined">
          person
        </span>
        <div class="dv-btn__text">ورود | ثبت نام</div>
      </a> -->
            <!-- ? Guest Mode -->
        </div>
    </div>
    <!-- * Sidemenu End -->

    <!-- * Notifs Modal Start -->
    <div x-data class="modal dv-modal fade" id="notifs-modal" tabindex="-1" role="dialog"
        aria-labelledby="notifs-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
            <div class="modal-content dv-modal-content">
                <div class="modal-header dv-modal-header">
                    <span class="material-icons-outlined">
                        notifications
                    </span>
                    <h5 class="modal-title" id="notifs-modal-title">
                        اعلان‌ها (<span x-text="$store.ui.notifCount"></span>)
                    </h5>
                    <button type="button" class="dv-btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span class="material-icons-outlined">
                            close
                        </span>
                    </button>
                </div>
                <div class="modal-body dv-notifs">
                    <div class="dv-notifs__notif">
                        <label class="dv-label dv-label--subtle dv-label--success dv-label--sm">
                            <span class="dv-label__icon icon icon--md material-icons-outlined">
                                shopping_cart
                            </span>
                            خرید
                        </label>
                        <div class="dv-notifs__notif-body">سلام کاربر گرامی، از خرید شما در آرکین سپاس‌گزاریم.</div>
                        <label class="dv-label dv-label--subtle dv-label--disable dv-label--sm me-auto">
                            1401/10/05 - 22:10
                        </label>
                    </div>
                    <div class="dv-notifs__notif">
                        <label class="dv-label dv-label--subtle dv-label--primary dv-label--sm">
                            <span class="dv-label__icon icon icon--md material-icons-outlined">
                                info
                            </span>
                            اطلاع‌رسانی
                        </label>
                        <div class="dv-notifs__notif-body">سلام کاربر گرامی، از خرید شما در آرکین سپاس‌گزاریم.</div>
                        <label class="dv-label dv-label--subtle dv-label--disable dv-label--sm me-auto">
                            1401/10/05 - 22:10
                        </label>
                    </div>
                    <div class="dv-notifs__notif">
                        <label class="dv-label dv-label--subtle dv-label--warning dv-label--sm">
                            <span class="dv-label__icon icon icon--md material-icons-outlined">
                                warning_amber
                            </span>
                            هشدار
                        </label>
                        <div class="dv-notifs__notif-body">سلام کاربر گرامی، از خرید شما در آرکین سپاس‌گزاریم.</div>
                        <label class="dv-label dv-label--subtle dv-label--disable dv-label--sm me-auto">
                            1401/10/05 - 22:10
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="user-notifs.html" 
                        class="w-100 dv-btn dv-btn--sm dv-btn--primary dv-btn--fill">
                        <div class="dv-btn__text">همه اعلان‌ها</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- * Notifs Modal Start -->

    <!-- * Notifs Start -->
    <div x-data class="offcanvas offcanvas-bottom" tabindex="-1" id="notifs-offcanvas" aria-labelledby="notifs-title">
        <div class="offcanvas-header">
            <span class="material-icons-outlined">
                notifications
            </span>
            <h5>اعلان‌ها
                (<span x-text="$store.ui.notifCount"></span>)
            </h5>
            <a href="user-notifs.html" class="me-auto dv-btn dv-btn--sm dv-btn--fill dv-btn--primary">
                <div class="dv-btn__text ">
                    همه اعلان‌ها
                </div>
            </a>
            <button type="button" class="dv-btn dv-btn--sm button-close" data-bs-dismiss="offcanvas" aria-label="Close">
                <span class="dv-btn__icon material-icons-outlined">
                    keyboard_arrow_down
                </span>
            </button>
        </div>
        <hr class="m-0">
        <div class="offcanvas-body dv-notifs">
            <div class="dv-notifs__notif">
                <label class="dv-label dv-label--subtle dv-label--success dv-label--sm">
                    <span class="dv-label__icon icon icon--md material-icons-outlined">
                        shopping_cart
                    </span>
                    خرید
                </label>
                <div class="dv-notifs__notif-body">سلام کاربر گرامی، از خرید شما در آرکین سپاس‌گزاریم.</div>
                <label class="dv-label dv-label--subtle dv-label--disable dv-label--sm me-auto">
                    1401/10/05 - 22:10
                </label>
            </div>
            <div class="dv-notifs__notif">
                <label class="dv-label dv-label--subtle dv-label--success dv-label--sm">
                    <span class="dv-label__icon icon icon--md material-icons-outlined">
                        shopping_cart
                    </span>
                    خرید
                </label>
                <div class="dv-notifs__notif-body">سلام کاربر گرامی، از خرید شما در آرکین سپاس‌گزاریم.</div>
                <label class="dv-label dv-label--subtle dv-label--disable dv-label--sm me-auto">
                    1401/10/05 - 22:10
                </label>
            </div>
            <div class="dv-notifs__notif">
                <label class="dv-label dv-label--subtle dv-label--success dv-label--sm">
                    <span class="dv-label__icon icon icon--md material-icons-outlined">
                        shopping_cart
                    </span>
                    خرید
                </label>
                <div class="dv-notifs__notif-body">سلام کاربر گرامی، از خرید شما در آرکین سپاس‌گزاریم.</div>
                <label class="dv-label dv-label--subtle dv-label--disable dv-label--sm me-auto">
                    1401/10/05 - 22:10
                </label>
            </div>
            <div class="dv-notifs__notif">
                <label class="dv-label dv-label--subtle dv-label--success dv-label--sm">
                    <span class="dv-label__icon icon icon--md material-icons-outlined">
                        shopping_cart
                    </span>
                    خرید
                </label>
                <div class="dv-notifs__notif-body">سلام کاربر گرامی، از خرید شما در آرکین سپاس‌گزاریم.</div>
                <label class="dv-label dv-label--subtle dv-label--disable dv-label--sm me-auto">
                    1401/10/05 - 22:10
                </label>
            </div>
            <div class="dv-notifs__notif">
                <label class="dv-label dv-label--subtle dv-label--primary dv-label--sm">
                    <span class="dv-label__icon icon icon--md material-icons-outlined">
                        info
                    </span>
                    اطلاع‌رسانی
                </label>
                <div class="dv-notifs__notif-body">سلام کاربر گرامی، از خرید شما در آرکین سپاس‌گزاریم.</div>
                <label class="dv-label dv-label--subtle dv-label--disable dv-label--sm me-auto">
                    1401/10/05 - 22:10
                </label>
            </div>
            <div class="dv-notifs__notif">
                <label class="dv-label dv-label--subtle dv-label--warning dv-label--sm">
                    <span class="dv-label__icon icon icon--md material-icons-outlined">
                        warning_amber
                    </span>
                    هشدار
                </label>
                <div class="dv-notifs__notif-body">سلام کاربر گرامی، از خرید شما در آرکین سپاس‌گزاریم.</div>
                <label class="dv-label dv-label--subtle dv-label--disable dv-label--sm me-auto">
                    1401/10/05 - 22:10
                </label>
            </div>
        </div>
    </div>
    <!-- * Notifs End -->

    <main class="dv-main container">

        <!-- * [Section Games] Start -->
        <section class="dv-section dv-section--aside-content">
            <aside x-data class="dv-section__aside col-4 col-xl-3 d-none d-lg-flex">
                <ul class="dv-section__aside-links">
                    <li>
                        <a href="user-games.html" class="dv-section__aside-link">
                            بازی‌های من
                            <span class="dv-section__aside-link-icon material-icons-outlined">
                                sports_esports
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="user-favs.html" class="dv-section__aside-link ">
                            علاقمندی
                            <span class="dv-section__aside-link-icon material-icons-outlined">
                                favorite_border
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="buy-cart.html" class="dv-section__aside-link">
                            سبد خرید
                            <span class="dv-section__aside-link-icon material-icons-outlined">
                                shopping_cart
                            </span>
                            <div class="dv-badge dv-badge--number" x-show="$store.ui.cartCount"
                                x-text="$store.ui.cartCount"></div>
                        </a>
                    </li>
                    <li>
                        <a href="sell-cart.html" class="dv-section__aside-link">
                            سبد فروش
                            <span class="dv-section__aside-link-icon material-icons-outlined">
                                sell
                            </span>
                            <div class="dv-badge dv-badge--number" x-show="$store.ui.sellCartCount"
                                x-text="$store.ui.sellCartCount"></div>
                        </a>
                    </li>
                    <li>
                        <a href="user-sell-list.html" class="dv-section__aside-link">
                            لیست فروش
                            <span class="dv-section__aside-link-icon material-icons-outlined">
                                format_list_bulleted
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="user-wallet.html" class="dv-section__aside-link">
                            کیف پول
                            <span class="dv-section__aside-link-icon material-icons-outlined">
                                account_balance_wallet
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="user-chat.html" class="dv-section__aside-link">
                            تیکت و پشتیبانی
                            <span class="dv-section__aside-link-icon material-icons-outlined">
                                question_answer
                            </span>
                            <div class="dv-badge dv-badge--number" x-show="$store.ui.ticketCount"
                                x-text="$store.ui.ticketCount"></div>
                        </a>
                    </li>
                    <li>
                        <a href="user-notifs.html" class="dv-section__aside-link dv-section__aside-link--active">
                            اعلان‌ها
                            <span class="dv-section__aside-link-icon material-icons-outlined">
                                notifications
                            </span>
                            <div class="dv-badge dv-badge--number" x-show="$store.ui.notifCount"
                                x-text="$store.ui.notifCount"></div>
                        </a>
                    </li>
                    <li>
                        <a href="user-profile.html" class="dv-section__aside-link">
                            اطلاعات کاربری
                            <span class="dv-section__aside-link-icon material-icons-outlined">
                                person
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="dv-section__aside-link">
                            خروج از حساب
                            <span class="dv-section__aside-link-icon material-icons-outlined dv-flip-hr">
                                logout
                            </span>
                        </a>
                    </li>
                </ul>
            </aside>
            <div class="dv-section__content col">
                <div class="dv-section__content-header-row">
                    <h5 class="dv-section__content-header-title">اعلان‌ها</h5>
                    <div class="dv-section__content-header">
                        <div class="dv-input col col-lg-5">
                            <div class="dv-input__field">
                                <input class="" type="search" x-data x-model="$store.tableStore.search" name="keyword"
                                    id="" placeholder="جستجو...">
                                <span class="dv-input__icon material-icons-outlined">
                                    search
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center dv-gap-md">
                            <div x-data class="dropdown-center dv-dropdown w-100" data-dropdown>
                                <input type="hidden" name="" value="" data-dropdown-value>
                                <button class="dv-dropdown__btn w-100" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false" data-dropdown-btn>
                                    <div class="dv-dropdown__btn-text">10</div>
                                    <span class="dv-dropdown__arrow material-icons-outlined">
                                        expand_more
                                    </span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end dv-dropdown-menu w-100">
                                    <li class="dv-dropdown-menu__li">
                                        <button @click="
                                                $store.tableStore.setPageSize(10);
                                                " class=" dropdown-item active" type="button" data-value="10">
                                            <span class="dv-dropdown-menu__value">10</span>
                                            <span class="dv-dropdown-menu__icon material-icons-outlined">
                                                check
                                            </span>
                                        </button>
                                    </li>
                                    <li class="dv-dropdown-menu__li">
                                        <button @click="
                                                $store.tableStore.setPageSize(25);
                                                " class=" dropdown-item" type="button" data-value="25">
                                            <span class="dv-dropdown-menu__value">25</span>
                                            <span class="dv-dropdown-menu__icon material-icons-outlined">
                                                check
                                            </span>
                                        </button>
                                    </li>
                                    <li class="dv-dropdown-menu__li">
                                        <button @click="
                                                $store.tableStore.setPageSize(50);
                                                " class=" dropdown-item" type="button" data-value="50">
                                            <span class="dv-dropdown-menu__value">50</span>
                                            <span class="dv-dropdown-menu__icon material-icons-outlined">
                                                check
                                            </span>
                                        </button>
                                    </li>
                                    <li class="dv-dropdown-menu__li">
                                        <button @click="
                                                $store.tableStore.setPageSize(100);
                                                " class=" dropdown-item" type="button" data-value="100">
                                            <span class="dv-dropdown-menu__value">100</span>
                                            <span class="dv-dropdown-menu__icon material-icons-outlined">
                                                check
                                            </span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-wrapper">
                    <table id="notifs-table" class="dv-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>زمان دریافت</th>
                                <th>پیام</th>
                                <th>دسته</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>1404/06/20-22:00</td>
                                <td>سلام کاربر گرامی، از خرید شما در آرکین سپاس‌گزاریم.</td>
                                <td>
                                    <label class="dv-label dv-label--outline dv-label--success dv-label--sm">
                                        <span class="dv-label__icon material-icons-outlined">
                                            shopping_cart
                                        </span>
                                        خرید
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>1404/06/20-22:00</td>
                                <td>سلام کاربر گرامی، از خرید شما در آرکین سپاس‌گزاریم.</td>
                                <td>
                                    <label class="dv-label dv-label--outline dv-label--primary dv-label--sm">
                                        <span class="dv-label__icon icon icon--md material-icons-outlined">
                                            info
                                        </span>
                                        اطلاع‌رسانی
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>1404/06/20-22:00</td>
                                <td>سلام کاربر گرامی، از خرید شما در آرکین سپاس‌گزاریم.</td>
                                <td>
                                    <label class="dv-label dv-label--outline dv-label--warning dv-label--sm">
                                        <span class="dv-label__icon icon icon--md material-icons-outlined">
                                            warning_amber
                                        </span>
                                        هشدار
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <!-- * [Section Games] End -->
    </main>

    <!-- * Sortmenu Start -->
    <div x-data class="offcanvas offcanvas-bottom" tabindex="-1" id="sortmenu" aria-labelledby="sortmenu-title">
        <div class="offcanvas-header">
            <span class="material-icons-outlined">
                filter_list
            </span>
            <h5>مرتبسازی
            </h5>
            <button type="button" class="dv-btn dv-btn--sm button-close" data-bs-dismiss="offcanvas" aria-label="Close">
                <span class="dv-btn__icon material-icons-outlined">
                    keyboard_arrow_down
                </span>
            </button>
        </div>
        <hr class="m-0">
        <div class="offcanvas-body ">
            <div class="dv-labels">
                <label class="dv-label dv-label--outline dv-label--secondary dv-label--md" for="newest">
                    <input x-model="$store.filters.sort" @change="$store.filters.apply()" type="radio" name="sort"
                        value="newest" id="newest">
                    جدیدترین
                </label>
                <label class="dv-label dv-label--outline dv-label--secondary dv-label--md" for="oldest">
                    <input x-model="$store.filters.sort" @change="$store.filters.apply()" type="radio" name="sort"
                        value="oldest" id="oldest">
                    قدیمی‌ترین
                </label>
                <label class="dv-label dv-label--outline dv-label--secondary dv-label--md" for="most_expensive">
                    <input x-model="$store.filters.sort" @change="$store.filters.apply()" type="radio" name="sort"
                        value="most_expensive" id="most_expensive">
                    گران‌ترین
                </label>
                <label class="dv-label dv-label--outline dv-label--secondary dv-label--md" for="cheapest">
                    <input x-model="$store.filters.sort" @change="$store.filters.apply()" type="radio" name="sort"
                        value="cheapest" id="cheapest">
                    ارزان‌ترین
                </label>
            </div>
        </div>
    </div>
    <!-- * Sortmenu End -->

    <!-- ! Core Scripts -->

    <!-- ! Page Scripts -->
</body>

</html>