<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  <script type="module" crossorigin src="/Arcane-Front-build/assets/main-J0b_Y7a1.js"></script>
  <link rel="stylesheet" crossorigin href="/Arcane-Front-build/assets/main-DJxJE6BR.css">
</head>

<body>
    <main class="dv-payment-response container">
        <!-- ****[Payment Error Page]**** Start -->
        <div class="dv-payment-response-wrapper">
            <img class="dv-payment-response__icon" src="/Arcane-Front-build/assets/cancel-txsWgt1V.png" alt="error icon">
            <h2 class="dv-payment-response__title dv-payment-response__title-error">تراکنش ناموفق!</h2>
            <span class="dv-payment-response__sub-title">شماره پیگیری: <p>459485</p></span>
            <p class="dv-payment-response__description">
                تا حداکثر 72 ساعت آینده، مبلغ توسط بانک به حساب شما برگشت داده خواهد شد.
            </p>
            <div class="dv-payment-response__btn-wrapper">
                <a class="dv-btn dv-btn--md dv-btn--secondary dv-btn--fill" href="#">
                    <span class="dv-btn__icon material-icons-outlined">
                        logout
                    </span>
                    <div class="dv-btn__text">رفتن به سایت</div>
                </a>
            </div>
        </div>
        <!-- ****[Payment Error Page]**** End -->
    </main>
    <!-- ! Core Scripts -->
    <!-- ! Page Scripts -->
</body>

</html>