<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  <script type="module" crossorigin src="/Arcane-Front-build/assets/main-CJ3woiqU.js"></script>
  <link rel="stylesheet" crossorigin href="/Arcane-Front-build/assets/main-DzLrQWc9.css">
</head>

<body>
    <main class="dv-payment-response container">
        <!-- ****[Payment Success Page]**** Start -->
        <div class="dv-payment-response-wrapper">
            <img class="dv-payment-response__icon" src="/Arcane-Front-build/assets/check_circle_outline-60oiZuXF.png" alt="success icon">
            <h2 class="dv-payment-response__title dv-payment-response__title-success">تراکنش موفق!</h2>
            <span class="dv-payment-response__sub-title">شماره پیگیری: <p>459485</p></span>
            <p class="dv-payment-response__description">
                یک تیکت برای دریافت اکانت برای شما باز شد؛ می‌توانید با مراجعه
                به
                بخش “تیکت و پشتیبانی”، راهنمایی‌های لازم را از ادمین دریافت کنید.
            </p>
            <div class="dv-payment-response__btn-wrapper">
                <a class="dv-btn dv-btn--md dv-btn--primary dv-btn--fill" href="#">
                    <span class="dv-btn__icon material-icons-outlined">
                        chat
                    </span>
                    <div class="dv-btn__text">چت با پشتیبانی</div>
                </a>

                <a class="dv-btn dv-btn--md dv-btn--secondary dv-btn--fill" href="#">
                    <span class="dv-btn__icon material-icons-outlined">
                        logout
                    </span>
                    <div class="dv-btn__text">رفتن به سایت</div>
                </a>
            </div>
        </div>
        <!-- ****[Payment Success Page]**** End -->
    </main>
    <!-- ! Core Scripts -->
    <!-- ! Page Scripts -->
</body>

</html>